In [2]:
x = ("apple", "banana", "cherry")                #by converting tuple into list you can change value of tuple
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [3]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [4]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)      #finds the position of 8

x = thistuple.index(8)

print(x)

3

In [7]:
thisset = ("apple", "banana", "cherry")

for x in thisset:
  print(x)

apple
banana
cherry

In [8]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'cherry', 'orange', 'banana', 'apple'}

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}
{1, 2, 3, 'c', 'a', 'b'}